{
    "openapi": "3.0.3",
    "info": {
      "title": "The Movie Database",
      "description": "\n\nWelcome to version 3 of The Movie Database (TMDB) API.  This is where you will find the definitive list of  currently available methods for our movie, tv, actor and image API.\n\n[Get API Key](https://developer.themoviedb.org/login?redirect_uri=/reference/intro/getting-started)\n\n[Login to Get Keys](https://developer.themoviedb.org/login?redirect_uri=/reference/intro/getting-started)",
      "version": "1.0.0",
      "contact": {}
    },
    "servers": [
      {
        "url": "https://api.themoviedb.org"
      },
      {
        "url": "Get the recent changes for a TV episode."
      }
    ],
    "paths": {
      "/3/account/{account_id}": {
        "get": {
          "tags": [
            "Account"
          ],
          "summary": "Details",
          "description": "Get the public details of an account on TMDB.",
          "parameters": [
            {
              "name": "account_id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer",
                "example": 12345
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Response",
              "headers": {
                "Alt-Svc": {
                  "schema": {
                    "type": "string",
                    "example": "h3=\"\"; ma=86400"
                  }
                },
                "Cache-Control": {
                  "schema": {
                    "type": "string",
                    "example": "public, max-age=0"
                  }
                },
                "Connection": {
                  "schema": {
                    "type": "string",
                    "example": "keep-alive"
                  }
                },
                "Content-Encoding": {
                  "schema": {
                    "type": "string",
                    "example": "gzip"
                  }
                },
                "Date": {
                  "schema": {
                    "type": "string",
                    "example": "Wed, 01 Jan 2025 11:51:25 GMT"
                  }
                },
                "ETag": {
                  "schema": {
                    "type": "string",
                    "example": ""
                  }
                },
                "Server": {
                  "schema": {
                    "type": "string",
                    "example": "openresty"
                  }
                },
                "Transfer-Encoding": {
                  "schema": {
                    "type": "string",
                    "example": "chunked"
                  }
                },
                "Vary": {
                  "schema": {
                    "type": "string",
                    "example": "Origin"
                  }
                },
                "Via": {
                  "schema": {
                    "type": "string",
                    "example": "1.1 79a8bda299f9389df1f030913c73199e.cloudfront.net (CloudFront)"
                  }
                },
                "X-Amz-Cf-Id": {
                  "schema": {
                    "type": "string",
                    "example": "EIG2eJTv4fbgPjSdfd4SL6XkrRzYPAtyB1bKy3pMSYxJnbAsx8ufng=="
                  }
                },
                "X-Amz-Cf-Pop": {
                  "schema": {
                    "type": "string",
                    "example": "LOS50-P2"
                  }
                },
                "X-Cache": {
                  "schema": {
                    "type": "string",
                    "example": "Miss from cloudfront"
                  }
                },
                "x-memc": {
                  "schema": {
                    "type": "string",
                    "example": "MISS"
                  }
                },
                "x-memc-age": {
                  "schema": {
                    "type": "string",
                    "example": "0"
                  }
                },
                "x-memc-expires": {
                  "schema": {
                    "type": "string",
                    "example": "0"
                  }
                },
                "x-memc-key": {
                  "schema": {
                    "type": "string",
                    "example": "d8f76cc7add2a6d1dc2d68cd6f04f765"
                  }
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "avatar": {
                        "type": "object",
                        "properties": {
                          "gravatar": {
                            "type": "object",
                            "properties": {
                              "hash": {
                                "type": "string",
                                "example": "eb19efb6da47ea3a6eb06de9ecb04e9a"
                              }
                            }
                          },
                          "tmdb": {
                            "type": "object",
                            "properties": {
                              "avatar_path": {
                                "nullable": true,
                                "example": null
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "examples": {
                    "Response": {
                      "value": {
                        "avatar": {
                          "gravatar": {
                            "hash": ""
                          },
                          "tmdb": {
                            "avatar_path": null
                          }
                        },
                        "id": "",
                        "include_adult": false,
                        "iso_3166_1": "NG",
                        "iso_639_1": "en",
                        "name": "",
                        "username": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "security": [
            {
              "bearerAuth": []
            }
          ]
        }
      },
      "/3/account/{account_id}/favorite": {
        "post": {
          "tags": [
            "Account"
          ],
          "summary": "Mark as Favorite",
          "description": "Mark a movie or TV show as a favorite for a specific account on TMDB.",
          "parameters": [
            {
              "name": "account_id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32",
                "example": 12345678
              }
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "media_type": {
                      "type": "string",
                      "enum": [
                        "movie",
                        "tv"
                      ],
                      "example": "movie"
                    },
                    "media_id": {
                      "type": "integer",
                      "example": 550
                    },
                    "favorite": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Successfully marked as favorite",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "status_code": {
                        "type": "integer",
                        "example": 1
                      },
                      "status_message": {
                        "type": "string",
                        "example": "The item was updated successfully."
                      }
                    }
                  }
                }
              }
            }
          },
          "security": [
            {
              "bearerAuth": []
            }
          ]
        }
      },
      "/3/account/{account_id}/watchlist": {
        "post": {
          "tags": [
            "Account"
          ],
          "summary": "Add To Watchlist",
          "description": "Mark a movie or TV show as a favourite.",
          "parameters": [
            {
              "name": "account_id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32",
                "example": 12345678
              }
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "media_type": {
                      "type": "string",
                      "enum": [
                        "movie",
                        "tv"
                      ],
                      "example": "movie"
                    },
                    "media_id": {
                      "type": "integer",
                      "example": 550
                    },
                    "favorite": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "operationId": "addToWatchlist",
          "responses": {
            "200": {
              "description": ""
            },
            "401": {
              "description": "Response",
              "headers": {
                "Alt-Svc": {
                  "schema": {
                    "type": "string",
                    "example": "h3=\":443\"; ma=86400"
                  }
                },
                "Cache-Control": {
                  "schema": {
                    "type": "string",
                    "example": "public, max-age=300"
                  }
                },
                "Connection": {
                  "schema": {
                    "type": "string",
                    "example": "keep-alive"
                  }
                },
                "Date": {
                  "schema": {
                    "type": "string",
                    "example": "Wed, 01 Jan 2025 19:28:38 GMT"
                  }
                },
                "Server": {
                  "schema": {
                    "type": "string",
                    "example": "openresty"
                  }
                },
                "Transfer-Encoding": {
                  "schema": {
                    "type": "string",
                    "example": "chunked"
                  }
                },
                "Vary": {
                  "schema": {
                    "type": "string",
                    "example": "Origin"
                  }
                },
                "Via": {
                  "schema": {
                    "type": "string",
                    "example": "1.1 afc076a932b635d1fe9febfccf7103f0.cloudfront.net (CloudFront)"
                  }
                },
                "X-Amz-Cf-Id": {
                  "schema": {
                    "type": "string",
                    "example": "cOzPcN4Eic5zXNiehXjAveHjqA6M61NBZ9BTLk0-SPjnSGCrVkcbog=="
                  }
                },
                "X-Amz-Cf-Pop": {
                  "schema": {
                    "type": "string",
                    "example": "LOS50-P2"
                  }
                },
                "X-Cache": {
                  "schema": {
                    "type": "string",
                    "example": "Error from cloudfront"
                  }
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "status_code": {
                        "type": "number",
                        "example": 7
                      },
                      "status_message": {
                        "type": "string",
                        "example": "Invalid API key: You must be granted a valid key."
                      },
                      "success": {
                        "type": "boolean",
                        "example": false
                      }
                    }
                  },
                  "examples": {
                    "Response": {
                      "value": {
                        "status_code": 7,
                        "status_message": "Invalid API key: You must be granted a valid key.",
                        "success": false
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/3/account/{account_id}/favorite/movies": {
        "get": {
          "tags": [
            "Account"
          ],
          "summary": "Favorite Movies",
          "description": "Get a users list of favourite movies.",
          "parameters": [
            {
              "name": "account_id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32",
                "example": 12345678
              }
            }
          ],
          "operationId": "favoriteMovies",
          "responses": {
            "200": {
              "description": "Response",
              "headers": {
                "Alt-Svc": {
                  "schema": {
                    "type": "string",
                    "example": "h3=\":443\"; ma=86400"
                  }
                },
                "Cache-Control": {
                  "schema": {
                    "type": "string",
                    "example": "public, max-age=0"
                  }
                },
                "Connection": {
                  "schema": {
                    "type": "string",
                    "example": "keep-alive"
                  }
                },
                "Content-Encoding": {
                  "schema": {
                    "type": "string",
                    "example": "gzip"
                  }
                },
                "Date": {
                  "schema": {
                    "type": "string",
                    "example": "Wed, 01 Jan 2025 19:39:52 GMT"
                  }
                },
                "ETag": {
                  "schema": {
                    "type": "string",
                    "example": "W/\"5b333525ff117973180331432dc740b8\""
                  }
                },
                "Server": {
                  "schema": {
                    "type": "string",
                    "example": "openresty"
                  }
                },
                "Transfer-Encoding": {
                  "schema": {
                    "type": "string",
                    "example": "chunked"
                  }
                },
                "Vary": {
                  "schema": {
                    "type": "string",
                    "example": "Origin"
                  }
                },
                "Via": {
                  "schema": {
                    "type": "string",
                    "example": "1.1 d464747d443d7370c69239599bc83b4a.cloudfront.net (CloudFront)"
                  }
                },
                "X-Amz-Cf-Id": {
                  "schema": {
                    "type": "string",
                    "example": "3DEyefry0CAlYHnrUCKyrFd1jleDymcYBN_l5qHkf-E1N-yCjuDVXg=="
                  }
                },
                "X-Amz-Cf-Pop": {
                  "schema": {
                    "type": "string",
                    "example": "LOS50-P2"
                  }
                },
                "X-Cache": {
                  "schema": {
                    "type": "string",
                    "example": "Miss from cloudfront"
                  }
                },
                "x-memc": {
                  "schema": {
                    "type": "string",
                    "example": "MISS"
                  }
                },
                "x-memc-age": {
                  "schema": {
                    "type": "string",
                    "example": "0"
                  }
                },
                "x-memc-expires": {
                  "schema": {
                    "type": "string",
                    "example": "0"
                  }
                },
                "x-memc-key": {
                  "schema": {
                    "type": "string",
                    "example": "1b4a9610b379a9232fd53095ef88d353"
                  }
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "page": {
                        "type": "number",
                        "example": 1
                      },
                      "results": {
                        "type": "array",
                        "items": {},
                        "example": []
                      },
                      "total_pages": {
                        "type": "number",
                        "example": 0
                      },
                      "total_results": {
                        "type": "number",
                        "example": 0
                      }
                    }
                  },
                  "examples": {
                    "Response": {
                      "value": {
                        "page": 1,
                        "results": [],
                        "total_pages": 0,
                        "total_results": 0
                      }
                    }
                  }
                }
              }
            }
          },
          "security": [
            {
              "bearerAuth": []
            }
          ]
        }
      },
      "/3/account/{account_id}/favorite/tv": {
        "get": {
          "tags": [
            "Account"
          ],
          "summary": "Favorite TV",
          "description": "Get a users list of favourite movies.",
          "parameters": [
            {
              "name": "account_id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32",
                "example": 12345678
              }
            }
          ],
          "operationId": "favoriteTv",
          "responses": {
            "200": {
              "description": "Response",
              "headers": {
                "Alt-Svc": {
                  "schema": {
                    "type": "string",
                    "example": "h3=\":443\"; ma=86400"
                  }
                },
                "Cache-Control": {
                  "schema": {
                    "type": "string",
                    "example": "public, max-age=0"
                  }
                },
                "Connection": {
                  "schema": {
                    "type": "string",
                    "example": "keep-alive"
                  }
                },
                "Content-Encoding": {
                  "schema": {
                    "type": "string",
                    "example": "gzip"
                  }
                },
                "Date": {
                  "schema": {
                    "type": "string",
                    "example": "Wed, 01 Jan 2025 19:52:42 GMT"
                  }
                },
                "ETag": {
                  "schema": {
                    "type": "string",
                    "example": "W/\"5b333525ff117973180331432dc740b8\""
                  }
                },
                "Server": {
                  "schema": {
                    "type": "string",
                    "example": "openresty"
                  }
                },
                "Transfer-Encoding": {
                  "schema": {
                    "type": "string",
                    "example": "chunked"
                  }
                },
                "Vary": {
                  "schema": {
                    "type": "string",
                    "example": "Origin"
                  }
                },
                "Via": {
                  "schema": {
                    "type": "string",
                    "example": "1.1 57683e1b4b68ffc4d35501f444414c4c.cloudfront.net (CloudFront)"
                  }
                },
                "X-Amz-Cf-Id": {
                  "schema": {
                    "type": "string",
                    "example": "jtdZ8QzpmI31tJVf9uwlshpE89BBUAtMSn7C_09fKt8R3L8tOufPgA=="
                  }
                },
                "X-Amz-Cf-Pop": {
                  "schema": {
                    "type": "string",
                    "example": "LOS50-P2"
                  }
                },
                "X-Cache": {
                  "schema": {
                    "type": "string",
                    "example": "Miss from cloudfront"
                  }
                },
                "x-memc": {
                  "schema": {
                    "type": "string",
                    "example": "MISS"
                  }
                },
                "x-memc-age": {
                  "schema": {
                    "type": "string",
                    "example": "0"
                  }
                },
                "x-memc-expires": {
                  "schema": {
                    "type": "string",
                    "example": "0"
                  }
                },
                "x-memc-key": {
                  "schema": {
                    "type": "string",
                    "example": "5c77f5a9742f7e3abf26aafd883d6b39"
                  }
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "page": {
                        "type": "number",
                        "example": 1
                      },
                      "results": {
                        "type": "array",
                        "items": {},
                        "example": []
                      },
                      "total_pages": {
                        "type": "number",
                        "example": 0
                      },
                      "total_results": {
                        "type": "number",
                        "example": 0
                      }
                    }
                  },
                  "examples": {
                    "Response": {
                      "value": {
                        "page": 1,
                        "results": [],
                        "total_pages": 0,
                        "total_results": 0
                      }
                    }
                  }
                }
              }
            }
          },
          "security": [
            {
              "bearerAuth": []
            }
          ]
        }
      },
      "/3/account/{account_id}/lists": {
        "get": {
          "tags": [
            "Account"
          ],
          "summary": "Lists",
          "description": "Get a users list of custom lists.",
          "parameters": [
            {
              "name": "account_id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32",
                "example": 12345678
              }
            }
          ],
          "operationId": "lists",
          "responses": {
            "200": {
              "description": "Response",
              "headers": {
                "Alt-Svc": {
                  "schema": {
                    "type": "string",
                    "example": "h3=\":443\"; ma=86400"
                  }
                },
                "Cache-Control": {
                  "schema": {
                    "type": "string",
                    "example": "public, max-age=0"
                  }
                },
                "Connection": {
                  "schema": {
                    "type": "string",
                    "example": "keep-alive"
                  }
                },
                "Content-Encoding": {
                  "schema": {
                    "type": "string",
                    "example": "gzip"
                  }
                },
                "Date": {
                  "schema": {
                    "type": "string",
                    "example": "Wed, 01 Jan 2025 19:53:19 GMT"
                  }
                },
                "ETag": {
                  "schema": {
                    "type": "string",
                    "example": "W/\"5b333525ff117973180331432dc740b8\""
                  }
                },
                "Server": {
                  "schema": {
                    "type": "string",
                    "example": "openresty"
                  }
                },
                "Transfer-Encoding": {
                  "schema": {
                    "type": "string",
                    "example": "chunked"
                  }
                },
                "Vary": {
                  "schema": {
                    "type": "string",
                    "example": "Origin"
                  }
                },
                "Via": {
                  "schema": {
                    "type": "string",
                    "example": "1.1 57683e1b4b68ffc4d35501f444414c4c.cloudfront.net (CloudFront)"
                  }
                },
                "X-Amz-Cf-Id": {
                  "schema": {
                    "type": "string",
                    "example": "3CuIGeFV4TJTKsfOZDplAVvPk2IPrPtr7Td9AySyFhNzmoGXR-lXzg=="
                  }
                },
                "X-Amz-Cf-Pop": {
                  "schema": {
                    "type": "string",
                    "example": "LOS50-P2"
                  }
                },
                "X-Cache": {
                  "schema": {
                    "type": "string",
                    "example": "Miss from cloudfront"
                  }
                },
                "x-memc": {
                  "schema": {
                    "type": "string",
                    "example": "MISS"
                  }
                },
                "x-memc-age": {
                  "schema": {
                    "type": "string",
                    "example": "0"
                  }
                },
                "x-memc-expires": {
                  "schema": {
                    "type": "string",
                    "example": "0"
                  }
                },
                "x-memc-key": {
                  "schema": {
                    "type": "string",
                    "example": "c70b1b28f695179ff95e7c3974e0a64a"
                  }
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "page": {
                        "type": "number",
                        "example": 1
                      },
                      "results": {
                        "type": "array",
                        "items": {},
                        "example": []
                      },
                      "total_pages": {
                        "type": "number",
                        "example": 0
                      },
                      "total_results": {
                        "type": "number",
                        "example": 0
                      }
                    }
                  },
                  "examples": {
                    "Response": {
                      "value": {
                        "page": 1,
                        "results": [],
                        "total_pages": 0,
                        "total_results": 0
                      }
                    }
                  }
                }
              }
            }
          },
          "security": [
            {
              "bearerAuth": []
            }
          ]
        }
      },
      "/3/account/{account_id}/rated/movies": {
        "get": {
          "tags": [
            "Account"
          ],
          "summary": "Rated Movies",
          "description": "Get a users list of rated movies.",
          "parameters": [
            {
              "name": "account_id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32",
                "example": 12345678
              }
            }
          ],
          "operationId": "ratedMovies",
          "responses": {
            "200": {
              "description": "Response",
              "headers": {
                "Alt-Svc": {
                  "schema": {
                    "type": "string",
                    "example": "h3=\":443\"; ma=86400"
                  }
                },
                "Cache-Control": {
                  "schema": {
                    "type": "string",
                    "example": "public, max-age=0"
                  }
                },
                "Connection": {
                  "schema": {
                    "type": "string",
                    "example": "keep-alive"
                  }
                },
                "Content-Encoding": {
                  "schema": {
                    "type": "string",
                    "example": "gzip"
                  }
                },
                "Date": {
                  "schema": {
                    "type": "string",
                    "example": "Wed, 01 Jan 2025 19:57:02 GMT"
                  }
                },
                "ETag": {
                  "schema": {
                    "type": "string",
                    "example": "W/\"5b333525ff117973180331432dc740b8\""
                  }
                },
                "Server": {
                  "schema": {
                    "type": "string",
                    "example": "openresty"
                  }
                },
                "Transfer-Encoding": {
                  "schema": {
                    "type": "string",
                    "example": "chunked"
                  }
                },
                "Vary": {
                  "schema": {
                    "type": "string",
                    "example": "Origin"
                  }
                },
                "Via": {
                  "schema": {
                    "type": "string",
                    "example": "1.1 db0227634f5a6631ffed23eb54e5313e.cloudfront.net (CloudFront)"
                  }
                },
                "X-Amz-Cf-Id": {
                  "schema": {
                    "type": "string",
                    "example": "SQELra7mx681wk-NKR8TExp_TF7pnBcL2V_PdgfwhLnwJER6rS6oLg=="
                  }
                },
                "X-Amz-Cf-Pop": {
                  "schema": {
                    "type": "string",
                    "example": "LOS50-P2"
                  }
                },
                "X-Cache": {
                  "schema": {
                    "type": "string",
                    "example": "Miss from cloudfront"
                  }
                },
                "x-memc": {
                  "schema": {
                    "type": "string",
                    "example": "MISS"
                  }
                },
                "x-memc-age": {
                  "schema": {
                    "type": "string",
                    "example": "0"
                  }
                },
                "x-memc-expires": {
                  "schema": {
                    "type": "string",
                    "example": "0"
                  }
                },
                "x-memc-key": {
                  "schema": {
                    "type": "string",
                    "example": "13e09ae6edea703cf44c960aac47e4ce"
                  }
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "page": {
                        "type": "number",
                        "example": 1
                      },
                      "results": {
                        "type": "array",
                        "items": {},
                        "example": []
                      },
                      "total_pages": {
                        "type": "number",
                        "example": 0
                      },
                      "total_results": {
                        "type": "number",
                        "example": 0
                      }
                    }
                  },
                  "examples": {
                    "Response": {
                      "value": {
                        "page": 1,
                        "results": [],
                        "total_pages": 0,
                        "total_results": 0
                      }
                    }
                  }
                }
              }
            }
          },
          "security": [
            {
              "bearerAuth": []
            }
          ]
        }
      },
      "/3/account/{account_id}/rated/tv": {
        "get": {
          "tags": [
            "Account"
          ],
          "summary": "Rated TV",
          "description": "Get a users list of rated TV shows.",
          "parameters": [
            {
              "name": "account_id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32",
                "example": 12345678
              }
            }
          ],
          "operationId": "ratedTv",
          "responses": {
            "200": {
              "description": "Response",
              "headers": {
                "Alt-Svc": {
                  "schema": {
                    "type": "string",
                    "example": "h3=\":443\"; ma=86400"
                  }
                },
                "Cache-Control": {
                  "schema": {
                    "type": "string",
                    "example": "public, max-age=0"
                  }
                },
                "Connection": {
                  "schema": {
                    "type": "string",
                    "example": "keep-alive"
                  }
                },
                "Content-Encoding": {
                  "schema": {
                    "type": "string",
                    "example": "gzip"
                  }
                },
                "Date": {
                  "schema": {
                    "type": "string",
                    "example": "Wed, 01 Jan 2025 19:57:47 GMT"
                  }
                },
                "ETag": {
                  "schema": {
                    "type": "string",
                    "example": "W/\"5b333525ff117973180331432dc740b8\""
                  }
                },
                "Server": {
                  "schema": {
                    "type": "string",
                    "example": "openresty"
                  }
                },
                "Transfer-Encoding": {
                  "schema": {
                    "type": "string",
                    "example": "chunked"
                  }
                },
                "Vary": {
                  "schema": {
                    "type": "string",
                    "example": "Origin"
                  }
                },
                "Via": {
                  "schema": {
                    "type": "string",
                    "example": "1.1 db0227634f5a6631ffed23eb54e5313e.cloudfront.net (CloudFront)"
                  }
                },
                "X-Amz-Cf-Id": {
                  "schema": {
                    "type": "string",
                    "example": "fsuS-3YPIuVOM5nLDMNuXBlDWjOkcMXHLHoKFg7LG9D22rhE4-h9Ww=="
                  }
                },
                "X-Amz-Cf-Pop": {
                  "schema": {
                    "type": "string",
                    "example": "LOS50-P2"
                  }
                },
                "X-Cache": {
                  "schema": {
                    "type": "string",
                    "example": "Miss from cloudfront"
                  }
                },
                "x-memc": {
                  "schema": {
                    "type": "string",
                    "example": "MISS"
                  }
                },
                "x-memc-age": {
                  "schema": {
                    "type": "string",
                    "example": "0"
                  }
                },
                "x-memc-expires": {
                  "schema": {
                    "type": "string",
                    "example": "0"
                  }
                },
                "x-memc-key": {
                  "schema": {
                    "type": "string",
                    "example": "4707907bfd157f8ebe396cf1a9cdc12e"
                  }
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "page": {
                        "type": "number",
                        "example": 1
                      },
                      "results": {
                        "type": "array",
                        "items": {},
                        "example": []
                      },
                      "total_pages": {
                        "type": "number",
                        "example": 0
                      },
                      "total_results": {
                        "type": "number",
                        "example": 0
                      }
                    }
                  },
                  "examples": {
                    "Response": {
                      "value": {
                        "page": 1,
                        "results": [],
                        "total_pages": 0,
                        "total_results": 0
                      }
                    }
                  }
                }
              }
            }
          },
          "security": [
            {
              "bearerAuth": []
            }
          ]
        }
      },
      "/3/account/{account_id}/rated/tv/episodes": {
        "get": {
          "tags": [
            "Account"
          ],
          "summary": "Rated TV Episodes",
          "description": "Rated TV Episodes",
          "parameters": [
            {
              "name": "account_id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32",
                "example": 12345678
              }
            }
          ],
          "operationId": "ratedTvEpisodes",
          "responses": {
            "200": {
              "description": "Response",
              "headers": {
                "Alt-Svc": {
                  "schema": {
                    "type": "string",
                    "example": "h3=\":443\"; ma=86400"
                  }
                },
                "Cache-Control": {
                  "schema": {
                    "type": "string",
                    "example": "public, max-age=0"
                  }
                },
                "Connection": {
                  "schema": {
                    "type": "string",
                    "example": "keep-alive"
                  }
                },
                "Content-Encoding": {
                  "schema": {
                    "type": "string",
                    "example": "gzip"
                  }
                },
                "Date": {
                  "schema": {
                    "type": "string",
                    "example": "Wed, 01 Jan 2025 19:59:28 GMT"
                  }
                },
                "ETag": {
                  "schema": {
                    "type": "string",
                    "example": "5b333525ff117973180331432dc740b8"
                  }
                },
                "Server": {
                  "schema": {
                    "type": "string",
                    "example": "openresty"
                  }
                },
                "Transfer-Encoding": {
                  "schema": {
                    "type": "string",
                    "example": "chunked"
                  }
                },
                "Vary": {
                  "schema": {
                    "type": "string",
                    "example": "Origin"
                  }
                },
                "Via": {
                  "schema": {
                    "type": "string",
                    "example": "1.1 58323cef7927326b4721718ec24b0aae.cloudfront.net (CloudFront)"
                  }
                },
                "X-Amz-Cf-Id": {
                  "schema": {
                    "type": "string",
                    "example": "19OnmDhWV7JGko3ZThgKjg29FhjBQnZDWQroOT_463YBWpKDlLTOMA=="
                  }
                },
                "X-Amz-Cf-Pop": {
                  "schema": {
                    "type": "string",
                    "example": "LOS50-P2"
                  }
                },
                "X-Cache": {
                  "schema": {
                    "type": "string",
                    "example": "Miss from cloudfront"
                  }
                },
                "x-memc": {
                  "schema": {
                    "type": "string",
                    "example": "MISS"
                  }
                },
                "x-memc-age": {
                  "schema": {
                    "type": "string",
                    "example": "0"
                  }
                },
                "x-memc-expires": {
                  "schema": {
                    "type": "string",
                    "example": "0"
                  }
                },
                "x-memc-key": {
                  "schema": {
                    "type": "string",
                    "example": "f5cdc6ae1e6241b8829b8d8957db968f"
                  }
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "page": {
                        "type": "number",
                        "example": 1
                      },
                      "results": {
                        "type": "array",
                        "items": {},
                        "example": []
                      },
                      "total_pages": {
                        "type": "number",
                        "example": 0
                      },
                      "total_results": {
                        "type": "number",
                        "example": 0
                      }
                    }
                  },
                  "examples": {
                    "Response": {
                      "value": {
                        "page": 1,
                        "results": [],
                        "total_pages": 0,
                        "total_results": 0
                      }
                    }
                  }
                }
              }
            }
          },
          "security": [
            {
              "bearerAuth": []
            }
          ]
        }
      },
      "/3/account/{account_id}/watchlist/movies": {
        "get": {
          "tags": [
            "Account"
          ],
          "summary": "Watchlist Movies",
          "description": "Get a list of movies added to a users watchlist.",
          "parameters": [
            {
              "name": "account_id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32",
                "example": 12345678
              }
            }
          ],
          "operationId": "watchlistMovies",
          "responses": {
            "200": {
              "description": "Response",
              "headers": {
                "Alt-Svc": {
                  "schema": {
                    "type": "string",
                    "example": "h3=\":443\"; ma=86400"
                  }
                },
                "Cache-Control": {
                  "schema": {
                    "type": "string",
                    "example": "public, max-age=0"
                  }
                },
                "Connection": {
                  "schema": {
                    "type": "string",
                    "example": "keep-alive"
                  }
                },
                "Content-Encoding": {
                  "schema": {
                    "type": "string",
                    "example": "gzip"
                  }
                },
                "Date": {
                  "schema": {
                    "type": "string",
                    "example": "Wed, 01 Jan 2025 20:00:06 GMT"
                  }
                },
                "ETag": {
                  "schema": {
                    "type": "string",
                    "example": "W/\"5b333525ff117973180331432dc740b8\""
                  }
                },
                "Server": {
                  "schema": {
                    "type": "string",
                    "example": "openresty"
                  }
                },
                "Transfer-Encoding": {
                  "schema": {
                    "type": "string",
                    "example": "chunked"
                  }
                },
                "Vary": {
                  "schema": {
                    "type": "string",
                    "example": "Origin"
                  }
                },
                "Via": {
                  "schema": {
                    "type": "string",
                    "example": "1.1 58323cef7927326b4721718ec24b0aae.cloudfront.net (CloudFront)"
                  }
                },
                "X-Amz-Cf-Id": {
                  "schema": {
                    "type": "string",
                    "example": "Y3sLReasaqAOndKV4QAdyKn8YS1aU5SsKylMkmGA5-vC2j_qi6KCbw=="
                  }
                },
                "X-Amz-Cf-Pop": {
                  "schema": {
                    "type": "string",
                    "example": "LOS50-P2"
                  }
                },
                "X-Cache": {
                  "schema": {
                    "type": "string",
                    "example": "Miss from cloudfront"
                  }
                },
                "x-memc": {
                  "schema": {
                    "type": "string",
                    "example": "MISS"
                  }
                },
                "x-memc-age": {
                  "schema": {
                    "type": "string",
                    "example": "0"
                  }
                },
                "x-memc-expires": {
                  "schema": {
                    "type": "string",
                    "example": "0"
                  }
                },
                "x-memc-key": {
                  "schema": {
                    "type": "string",
                    "example": "e2c8c5e05d94cb4b51b0fe6a63acbbde"
                  }
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "page": {
                        "type": "number",
                        "example": 1
                      },
                      "results": {
                        "type": "array",
                        "items": {},
                        "example": []
                      },
                      "total_pages": {
                        "type": "number",
                        "example": 0
                      },
                      "total_results": {
                        "type": "number",
                        "example": 0
                      }
                    }
                  },
                  "examples": {
                    "Response": {
                      "value": {
                        "page": 1,
                        "results": [],
                        "total_pages": 0,
                        "total_results": 0
                      }
                    }
                  }
                }
              }
            }
          },
          "security": [
            {
              "bearerAuth": []
            }
          ]
        }
      },
      "/3/account/{account_id}/watchlist/tv": {
        "get": {
          "tags": [
            "Account"
          ],
          "summary": "Watchlist TV",
          "description": "Get a list of TV shows added to a users watchlist.",
          "parameters": [
            {
              "name": "account_id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32",
                "example": 12345678
              }
            }
          ],
          "operationId": "watchlistTv",
          "responses": {
            "200": {
              "description": "Response",
              "headers": {
                "Alt-Svc": {
                  "schema": {
                    "type": "string",
                    "example": "h3=\":443\"; ma=86400"
                  }
                },
                "Cache-Control": {
                  "schema": {
                    "type": "string",
                    "example": "public, max-age=0"
                  }
                },
                "Connection": {
                  "schema": {
                    "type": "string",
                    "example": "keep-alive"
                  }
                },
                "Content-Encoding": {
                  "schema": {
                    "type": "string",
                    "example": "gzip"
                  }
                },
                "Date": {
                  "schema": {
                    "type": "string",
                    "example": "Wed, 01 Jan 2025 20:01:59 GMT"
                  }
                },
                "ETag": {
                  "schema": {
                    "type": "string",
                    "example": "W/\"5b333525ff117973180331432dc740b8\""
                  }
                },
                "Server": {
                  "schema": {
                    "type": "string",
                    "example": "openresty"
                  }
                },
                "Transfer-Encoding": {
                  "schema": {
                    "type": "string",
                    "example": "chunked"
                  }
                },
                "Vary": {
                  "schema": {
                    "type": "string",
                    "example": "Origin"
                  }
                },
                "Via": {
                  "schema": {
                    "type": "string",
                    "example": "1.1 882971ebff26c2a3bfb086f9b480f172.cloudfront.net (CloudFront)"
                  }
                },
                "X-Amz-Cf-Id": {
                  "schema": {
                    "type": "string",
                    "example": "SJeRhbiS-qULVU1ifoVwtCBwEggFdsuaEsqSG6BeWjxKslObSvUM7A=="
                  }
                },
                "X-Amz-Cf-Pop": {
                  "schema": {
                    "type": "string",
                    "example": "LOS50-P2"
                  }
                },
                "X-Cache": {
                  "schema": {
                    "type": "string",
                    "example": "Miss from cloudfront"
                  }
                },
                "x-memc": {
                  "schema": {
                    "type": "string",
                    "example": "MISS"
                  }
                },
                "x-memc-age": {
                  "schema": {
                    "type": "string",
                    "example": "0"
                  }
                },
                "x-memc-expires": {
                  "schema": {
                    "type": "string",
                    "example": "0"
                  }
                },
                "x-memc-key": {
                  "schema": {
                    "type": "string",
                    "example": "2107e820d0aea15ee9522fd9f14508ee"
                  }
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "page": {
                        "type": "number",
                        "example": 1
                      },
                      "results": {
                        "type": "array",
                        "items": {},
                        "example": []
                      },
                      "total_pages": {
                        "type": "number",
                        "example": 0
                      },
                      "total_results": {
                        "type": "number",
                        "example": 0
                      }
                    }
                  },
                  "examples": {
                    "Response": {
                      "value": {
                        "page": 1,
                        "results": [],
                        "total_pages": 0,
                        "total_results": 0
                      }
                    }
                  }
                }
              }
            }
          },
          "security": [
            {
              "bearerAuth": []
            }
          ]
        }
      },
      "/3/authentication/guest_session/new": {
        "get": {
          "tags": [
            "Authentication"
          ],
          "summary": "Create Guest Session",
          "description": "Guest sessions are a special kind of session that give you some of the functionality of an account, but not all. ",
          "operationId": "createGuestSession",
          "responses": {
            "200": {
              "description": "Response",
              "headers": {
                "Alt-Svc": {
                  "schema": {
                    "type": "string",
                    "example": "h3=\":443\"; ma=86400"
                  }
                },
                "Cache-Control": {
                  "schema": {
                    "type": "string",
                    "example": "public, max-age=0"
                  }
                },
                "Connection": {
                  "schema": {
                    "type": "string",
                    "example": "keep-alive"
                  }
                },
                "Content-Encoding": {
                  "schema": {
                    "type": "string",
                    "example": "gzip"
                  }
                },
                "Date": {
                  "schema": {
                    "type": "string",
                    "example": "Thu, 02 Jan 2025 12:44:38 GMT"
                  }
                },
                "ETag": {
                  "schema": {
                    "type": "string",
                    "example": "W/\"dbd69364442068658a1253aa09b627cf\""
                  }
                },
                "Server": {
                  "schema": {
                    "type": "string",
                    "example": "openresty"
                  }
                },
                "Transfer-Encoding": {
                  "schema": {
                    "type": "string",
                    "example": "chunked"
                  }
                },
                "Vary": {
                  "schema": {
                    "type": "string",
                    "example": "Origin"
                  }
                },
                "Via": {
                  "schema": {
                    "type": "string",
                    "example": "1.1 a48ca718f5ae1bfdc24c87b7e08cdaea.cloudfront.net (CloudFront)"
                  }
                },
                "X-Amz-Cf-Id": {
                  "schema": {
                    "type": "string",
                    "example": "ESs3XwYU9tpVFWFeg9X-LkGFKv6Kpr6nugAdQeXZBmNS28kYRHLStw=="
                  }
                },
                "X-Amz-Cf-Pop": {
                  "schema": {
                    "type": "string",
                    "example": "LOS50-P2"
                  }
                },
                "X-Cache": {
                  "schema": {
                    "type": "string",
                    "example": "Miss from cloudfront"
                  }
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "expires_at": {
                        "type": "string",
                        "example": "2025-01-03 12:44:38 UTC"
                      },
                      "guest_session_id": {
                        "type": "string",
                        "example": "eccaf015f7c3e70b8d2024d3d3967baf"
                      },
                      "success": {
                        "type": "boolean",
                        "example": true
                      }
                    }
                  },
                  "examples": {
                    "Response": {
                      "value": {
                        "expires_at": "2025-01-03 12:44:38 UTC",
                        "guest_session_id": "eccaf015f7c3e70b8d2024d3d3967baf",
                        "success": true
                      }
                    }
                  }
                }
              }
            }
          },
          "security": [
            {
              "bearerAuth": []
            }
          ]
        }
      },
      "/3/authentication/token/new": {
        "get": {
          "tags": [
            "Authentication"
          ],
          "summary": "Create Request Token",
          "description": "Create an intermediate request token that can be used to validate a TMDB user login. ",
          "operationId": "createRequestToken",
          "responses": {
            "200": {
              "description": "Response",
              "headers": {
                "Alt-Svc": {
                  "schema": {
                    "type": "string",
                    "example": "h3=\":443\"; ma=86400"
                  }
                },
                "Cache-Control": {
                  "schema": {
                    "type": "string",
                    "example": "public, max-age=0"
                  }
                },
                "Connection": {
                  "schema": {
                    "type": "string",
                    "example": "keep-alive"
                  }
                },
                "Content-Encoding": {
                  "schema": {
                    "type": "string",
                    "example": "gzip"
                  }
                },
                "Date": {
                  "schema": {
                    "type": "string",
                    "example": "Thu, 02 Jan 2025 12:46:43 GMT"
                  }
                },
                "ETag": {
                  "schema": {
                    "type": "string",
                    "example": "W/\"adbe39c93f0acacb96cf027f5c780997\""
                  }
                },
                "Server": {
                  "schema": {
                    "type": "string",
                    "example": "openresty"
                  }
                },
                "Transfer-Encoding": {
                  "schema": {
                    "type": "string",
                    "example": "chunked"
                  }
                },
                "Vary": {
                  "schema": {
                    "type": "string",
                    "example": "Origin"
                  }
                },
                "Via": {
                  "schema": {
                    "type": "string",
                    "example": "1.1 a5f63f2d8d8f510608211881dc599134.cloudfront.net (CloudFront)"
                  }
                },
                "X-Amz-Cf-Id": {
                  "schema": {
                    "type": "string",
                    "example": "UlglhnCmsvcS2rOCq1Msg2yDd7RcAGpbePVuKHAPDSkeNh416Np9iw=="
                  }
                },
                "X-Amz-Cf-Pop": {
                  "schema": {
                    "type": "string",
                    "example": "LOS50-P2"
                  }
                },
                "X-Cache": {
                  "schema": {
                    "type": "string",
                    "example": "Miss from cloudfront"
                  }
                },
                "authentication-callback": {
                  "schema": {
                    "type": "string",
                    "example": "\"\""
                  }
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "expires_at": {
                        "type": "string",
                        "example": "2025-01-02 13:46:43 UTC"
                      },
                      "request_token": {
                        "type": "string",
                        "example": "3e945dec002422f7b5e0f4c0b7ac374066313947"
                      },
                      "success": {
                        "type": "boolean",
                        "example": true
                      }
                    }
                  },
                  "examples": {
                    "Response": {
                      "value": {
                        "expires_at": "2025-01-02 13:46:43 UTC",
                        "request_token": "3e945dec002422f7b5e0f4c0b7ac374066313947",
                        "success": true
                      }
                    }
                  }
                }
              }
            }
          },
          "security": [
            {
              "bearerAuth": []
            }
          ]
        }
      },
      "/3/authentication/session/new": {
        "post": {
          "tags": [
            "Authentication"
          ],
          "summary": "Create Session",
          "description": "You can use this method to create a fully valid session ID once a user has validated the request token. ",
          "operationId": "createSession",
          "responses": {
            "200": {
              "description": ""
            },
            "404": {
              "description": "Response",
              "headers": {
                "Alt-Svc": {
                  "schema": {
                    "type": "string",
                    "example": "h3=\":443\"; ma=86400"
                  }
                },
                "Connection": {
                  "schema": {
                    "type": "string",
                    "example": "keep-alive"
                  }
                },
                "Content-Encoding": {
                  "schema": {
                    "type": "string",
                    "example": "br"
                  }
                },
                "Date": {
                  "schema": {
                    "type": "string",
                    "example": "Thu, 02 Jan 2025 12:49:23 GMT"
                  }
                },
                "Server": {
                  "schema": {
                    "type": "string",
                    "example": "openresty"
                  }
                },
                "Transfer-Encoding": {
                  "schema": {
                    "type": "string",
                    "example": "chunked"
                  }
                },
                "Vary": {
                  "schema": {
                    "type": "string",
                    "example": "Origin"
                  }
                },
                "Via": {
                  "schema": {
                    "type": "string",
                    "example": "1.1 7e9e069e30b25fca38d3949c59e59802.cloudfront.net (CloudFront)"
                  }
                },
                "X-Amz-Cf-Id": {
                  "schema": {
                    "type": "string",
                    "example": "WbjLkxlc7XPUFLeDNPp4pTaGVliFeUBIpRYYEYn81U_OddB1v6D5oQ=="
                  }
                },
                "X-Amz-Cf-Pop": {
                  "schema": {
                    "type": "string",
                    "example": "LOS50-P2"
                  }
                },
                "X-Cache": {
                  "schema": {
                    "type": "string",
                    "example": "Error from cloudfront"
                  }
                },
                "cache-control": {
                  "schema": {
                    "type": "string",
                    "example": "public, max-age=0"
                  }
                },
                "vary": {
                  "schema": {
                    "type": "string",
                    "example": "accept-encoding"
                  }
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "status_code": {
                        "type": "number",
                        "example": 34
                      },
                      "status_message": {
                        "type": "string",
                        "example": "The resource you requested could not be found."
                      },
                      "success": {
                        "type": "boolean",
                        "example": false
                      }
                    }
                  },
                  "examples": {
                    "Response": {
                      "value": {
                        "status_code": 34,
                        "status_message": "The resource you requested could not be found.",
                        "success": false
                      }
                    }
                  }
                }
              }
            }
          },
          "security": [
            {
              "bearerAuth": []
            }
          ]
        }
      },
      "/3/authentication/session/convert/4": {
        "post": {
          "tags": [
            "Authentication"
          ],
          "summary": "Create Session (from v4 token)",
          "description": "Use this method to create a v3 session ID if you already have a valid v4 access token. The v4 token needs to be authenticated by the user. Your standard \"read token\" will not validate to create a session ID.",
          "operationId": "createSessionFromV4Token",
          "responses": {
            "200": {
              "description": ""
            },
            "400": {
              "description": "Response",
              "headers": {
                "Alt-Svc": {
                  "schema": {
                    "type": "string",
                    "example": "h3=\":443\"; ma=86400"
                  }
                },
                "Connection": {
                  "schema": {
                    "type": "string",
                    "example": "keep-alive"
                  }
                },
                "Content-Length": {
                  "schema": {
                    "type": "string",
                    "example": "111"
                  }
                },
                "Date": {
                  "schema": {
                    "type": "string",
                    "example": "Thu, 02 Jan 2025 12:51:53 GMT"
                  }
                },
                "Server": {
                  "schema": {
                    "type": "string",
                    "example": "openresty"
                  }
                },
                "Vary": {
                  "schema": {
                    "type": "string",
                    "example": "Origin"
                  }
                },
                "Via": {
                  "schema": {
                    "type": "string",
                    "example": "1.1 95e16d4ec89b0a07da1a8770b0f15cfa.cloudfront.net (CloudFront)"
                  }
                },
                "X-Amz-Cf-Id": {
                  "schema": {
                    "type": "string",
                    "example": "uuPPR2mqBYirbaxWLHWp3-CMfbdO4Wk8Cv8wOEyJ-fq5sniuTa0z4w=="
                  }
                },
                "X-Amz-Cf-Pop": {
                  "schema": {
                    "type": "string",
                    "example": "LOS50-P2"
                  }
                },
                "X-Cache": {
                  "schema": {
                    "type": "string",
                    "example": "Error from cloudfront"
                  }
                },
                "cache-control": {
                  "schema": {
                    "type": "string",
                    "example": "public, max-age=0"
                  }
                },
                "vary": {
                  "schema": {
                    "type": "string",
                    "example": "accept-encoding"
                  }
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "status_code": {
                        "type": "number",
                        "example": 5
                      },
                      "status_message": {
                        "type": "string",
                        "example": "Invalid parameters: Your request parameters are incorrect."
                      },
                      "success": {
                        "type": "boolean",
                        "example": false
                      }
                    }
                  },
                  "examples": {
                    "Response": {
                      "value": {
                        "status_code": 5,
                        "status_message": "Invalid parameters: Your request parameters are incorrect.",
                        "success": false
                      }
                    }
                  }
                }
              }
            }
          },
          "security": [
            {
              "bearerAuth": []
            }
          ]
        }
      },
      "/3/authentication/token/validate_with_login": {
        "post": {
          "tags": [
            "Authentication"
          ],
          "summary": "Create Session (with login)",
          "description": "This method allows an application to validate a request token by entering a username and password.",
          "operationId": "createSessionWithLogin",
          "responses": {
            "200": {
              "description": ""
            }
          }
        }
      },
      "/3/authentication/session": {
        "delete": {
          "tags": [
            "Authentication"
          ],
          "summary": "Delete Session",
          "description": "Use this method to delete a session.",
          "operationId": "deleteSession",
          "responses": {
            "200": {
              "description": ""
            }
          }
        }
      },
      "/3/authentication": {
        "get": {
          "tags": [
            "Authentication"
          ],
          "summary": "Validate Key",
          "description": "Test your API Key to see if it's valid.",
          "operationId": "validateKey",
          "responses": {
            "200": {
              "description": "New Request",
              "headers": {
                "Alt-Svc": {
                  "schema": {
                    "type": "string",
                    "example": "h3=\":443\"; ma=86400"
                  }
                },
                "Cache-Control": {
                  "schema": {
                    "type": "string",
                    "example": "public, max-age=0"
                  }
                },
                "Connection": {
                  "schema": {
                    "type": "string",
                    "example": "keep-alive"
                  }
                },
                "Content-Length": {
                  "schema": {
                    "type": "string",
                    "example": "16"
                  }
                },
                "Date": {
                  "schema": {
                    "type": "string",
                    "example": "Thu, 02 Jan 2025 12:56:00 GMT"
                  }
                },
                "ETag": {
                  "schema": {
                    "type": "string",
                    "example": "W/\"c955e57777ec0d73639dca6748560d00\""
                  }
                },
                "Server": {
                  "schema": {
                    "type": "string",
                    "example": "openresty"
                  }
                },
                "Vary": {
                  "schema": {
                    "type": "string",
                    "example": "Origin"
                  }
                },
                "Via": {
                  "schema": {
                    "type": "string",
                    "example": "1.1 a9f4bdae1135d507d62df475ab78dc5e.cloudfront.net (CloudFront)"
                  }
                },
                "X-Amz-Cf-Id": {
                  "schema": {
                    "type": "string",
                    "example": "1U95ypXmntHncSFoKAHbL2T9IDWdByTHfFv752EyWhR7ivPRMaIV7Q=="
                  }
                },
                "X-Amz-Cf-Pop": {
                  "schema": {
                    "type": "string",
                    "example": "LOS50-P2"
                  }
                },
                "X-Cache": {
                  "schema": {
                    "type": "string",
                    "example": "Miss from cloudfront"
                  }
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "example": true
                      }
                    }
                  },
                  "examples": {
                    "New Request": {
                      "value": {
                        "success": true
                      }
                    }
                  }
                }
              }
            }
          },
          "security": [
            {
              "bearerAuth": []
            }
          ]
        }
      },
      "/": {
        "get": {
          "tags": [
            "Watch Provider"
          ],
          "summary": "Movie Certifications",
          "description": "Get an up to date list of the officially supported movie certifications on TMDB.\n\nCredential: Access Token",
          "operationId": "movieCertifications",
          "responses": {
            "200": {
              "description": "Response / Response / Response / Response / Response / Multi / Response / New Request",
              "headers": {
                "Alt-Svc": {
                  "schema": {
                    "type": "string",
                    "example": "h3=\":443\"; ma=86400"
                  }
                },
                "Cache-Control": {
                  "schema": {
                    "type": "string",
                    "example": "public, max-age=16367"
                  }
                },
                "Connection": {
                  "schema": {
                    "type": "string",
                    "example": "keep-alive"
                  }
                },
                "Content-Encoding": {
                  "schema": {
                    "type": "string",
                    "example": "gzip"
                  }
                },
                "Date": {
                  "schema": {
                    "type": "string",
                    "example": "Thu, 09 Jan 2025 20:40:50 GMT"
                  }
                },
                "ETag": {
                  "schema": {
                    "type": "string",
                    "example": "W/\"f07738419b9435551c241fa3db2aa166\""
                  }
                },
                "Server": {
                  "schema": {
                    "type": "string",
                    "example": "openresty"
                  }
                },
                "Transfer-Encoding": {
                  "schema": {
                    "type": "string",
                    "example": "chunked"
                  }
                },
                "Vary": {
                  "schema": {
                    "type": "string",
                    "example": "Origin"
                  }
                },
                "Via": {
                  "schema": {
                    "type": "string",
                    "example": "1.1 db0227634f5a6631ffed23eb54e5313e.cloudfront.net (CloudFront)"
                  }
                },
                "X-Amz-Cf-Id": {
                  "schema": {
                    "type": "string",
                    "example": "oGh_9cyLxc8NJg7O-PpkVvIrrWG3dFptgOYBLM8R0sRyjxfvKsVLtw=="
                  }
                },
                "X-Amz-Cf-Pop": {
                  "schema": {
                    "type": "string",
                    "example": "LOS50-P2"
                  }
                },
                "X-Cache": {
                  "schema": {
                    "type": "string",
                    "example": "Miss from cloudfront"
                  }
                },
                "x-memc": {
                  "schema": {
                    "type": "string",
                    "example": "HIT"
                  }
                },
                "x-memc-age": {
                  "schema": {
                    "type": "string",
                    "example": "8607"
                  }
                },
                "x-memc-expires": {
                  "schema": {
                    "type": "string",
                    "example": "16367"
                  }
                },
                "x-memc-key": {
                  "schema": {
                    "type": "string",
                    "example": "07ad8d7166b7cc0f8ecc4b8aafa6fd75"
                  }
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "certifications": {
                            "type": "object",
                            "properties": {
                              "AR": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "certification": {
                                      "type": "string",
                                      "example": "ATP"
                                    },
                                    "meaning": {
                                      "type": "string",
                                      "example": "For all public."
                                    },
                                    "order": {
                                      "type": "number",
                                      "example": 1
                                    }
                                  }
                                },
                                "example": [
                                  {
                                    "certification": "ATP",
                                    "meaning": "For all public.",
                                    "order": 1
                                  },
                                  {
                                    "certification": "+13",
                                    "meaning": "Suitable for 13-year-olds and over. Children under the age of 13 are admitted if accompanied by an adult.",
                                    "order": 2
                                  },
                                  {
                                    "certification": "+16",
                                    "meaning": "Suitable for 16-year-olds and over.",
                                    "order": 3
                                  },
                                  {
                                    "certification": "+18",
                                    "meaning": "Suitable for 18-year-olds and over.",
                                    "order": 4
                                  },
                                  {
                                    "certification": "C",
                                    "meaning": "Suitable for 18-year-olds and over. Restricted to specially licensed venues.",
                                    "order": 5
                                  }
                                ]
                              },
                              "AT": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "certification": {
                                      "type": "string",
                                      "example": "AA"
                                    },
                                    "meaning": {
                                      "type": "string",
                                      "example": "alle Altersstufen"
                                    },
                                    "order": {
                                      "type": "number",
                                      "example": 1
                                    }
                                  }
                                },
                                "example": [
                                  {
                                    "certification": "AA",
                                    "meaning": "alle Altersstufen",
                                    "order": 1
                                  },
                                  {
                                    "certification": "6",
                                    "meaning": "Freigegeben ab 6 Jahren",
                                    "order": 2
                                  },
                                  {
                                    "certification": "8",
                                    "meaning": "Freigegeben ab 8 Jahren",
                                    "order": 3
                                  },
                                  {
                                    "certification": "10",
                                    "meaning": "Freigegeben ab 10 Jahren",
                                    "order": 4
                                  },
                                  {
                                    "certification": "12",
                                    "meaning": "Freigegeben ab 12 Jahren",
                                    "order": 5
                                  },
                                  {
                                    "certification": "14",
                                    "meaning": "Freigegeben ab 14 Jahren",
                                    "order": 6
                                  },
                                  {
                                    "certification": "16",
                                    "meaning": "Freigegeben ab 16 Jahren",
                                    "order": 7
                                  }
                                ]
                              },
                              "AU": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "certification": {
                                      "type": "string",
                                      "example": "G"
                                    },
                                    "meaning": {
                                      "type": "string",
                                      "example": "General. The content is very mild in impact."
                                    },
                                    "order": {
                                      "type": "number",
                                      "example": 1
                                    }
                                  }
                                },
                                "example": [
                                  {
                                    "certification": "G",
                                    "meaning": "General. The content is very mild in impact.",
                                    "order": 1
                                  },
                                  {
                                    "certification": "PG",
                                    "meaning": "Parental guidance recommended. There are no age restrictions. The content is mild in impact.",
                                    "order": 2
                                  },
                                  {
                                    "certification": "M",
                                    "meaning": "Recommended for mature audiences. There are no age restrictions. The content is moderate in impact.",
                                    "order": 3
                                  },
                                  {
                                    "certification": "MA 15+",
                                    "meaning": "Mature Accompanied. Unsuitable for children younger than 15. Children younger than 15 years must be accompanied by a parent or guardian. The content is strong in impact.",
                                    "order": 4
                                  },
                                  {
                                    "certification": "R 18+",
                                    "meaning": "Restricted to 18 years and over. Adults only. The content is high in impact.",
                                    "order": 5
                                  },
                                  {
                                    "certification": "X 18+",
                                    "meaning": "Restricted to 18 years and over. Films with this rating have pornographic content. Films classified as X18+ are banned from being sold or rented in all Australian states and are only legally available in the Australian Capital Territory and the Northern Territory. However, importing X18+ material from the two territories to any of the Australian states is legal.The content is sexually explicit in impact.",
                                    "order": 6
                                  },
                                  {
                                    "certification": "RC",
                                    "meaning": "Refused Classification. Banned from sale or hire in Australia; also generally applies to importation (if inspected by and suspicious to Customs). Private Internet viewing is unenforced and attempts to legally censor such online material has resulted in controversy. Films are rated RC if their content exceeds the guidelines. The content is very high in impact.",
                                    "order": 7
                                  }
                                ]
                              },
                              "BE": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "certification": {
                                      "type": "string",
                                      "example": "AL"
                                    },
                                    "meaning": {
                                      "type": "string",
                                      "example": "All ages."
                                    },
                                    "order": {
                                      "type": "number",
                                      "example": 1
                                    }
                                  }
                                },
                                "example": [
                                  {
                                    "certification": "AL",
                                    "meaning": "All ages.",
                                    "order": 1
                                  },
                                  {
                                    "certification": "6",
                                    "meaning": "From 6 years.",
                                    "order": 2
                                  },
                                  {
                                    "certification": "9",
                                    "meaning": "From 9 years.",
                                    "order": 3
                                  },
                                  {
                                    "certification": "12",
                                    "meaning": "From 12 years.",
                                    "order": 4
                                  },
                                  {
                                    "certification": "14",
                                    "meaning": "From 14 years.",
                                    "order": 5
                                  },
                                  {
                                    "certification": "16",
                                    "meaning": "From 16 years.",
                                    "order": 6
                                  },
                                  {
                                    "certification": "18",
                                    "meaning": "From 18 years.",
                                    "order": 7
                                  }
                                ]
                              },
                              "BG": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "certification": {
                                      "type": "string",
                                      "example": "D"
                                    },
                                    "meaning": {
                                      "type": "string",
                                      "example": "Prohibited for persons under 16."
                                    },
                                    "order": {
                                      "type": "number",
                                      "example": 4
                                    }
                                  }
                                },
                                "example": [
                                  {
                                    "certification": "D",
                                    "meaning": "Prohibited for persons under 16.",
                                    "order": 4
                                  },
                                  {
                                    "certification": "X",
                                    "meaning": "Prohibited for persons under 18.",
                                    "order": 5
                                  },
                                  {
                                    "certification": "B",
                                    "meaning": "Without age restrictions.",
                                    "order": 2
                                  },
                                  {
                                    "certification": "C",
                                    "meaning": "Not recommended for children under 12.",
                                    "order": 3
                                  },
                                  {
                                    "certification": "A",
                                    "meaning": "Recommended for children.",
                                    "order": 1
                                  }
                                ]
                              },
                              "BR": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "certification": {
                                      "type": "string",
                                      "example": "14"
                                    },
                                    "meaning": {
                                      "type": "string",
                                      "example": "Not recommended for minors under fourteen. More violent material, stronger sex references and/or nudity."
                                    },
                                    "order": {
                                      "type": "number",
                                      "example": 4
                                    }
                                  }
                                },
                                "example": [
                                  {
                                    "certification": "14",
                                    "meaning": "Not recommended for minors under fourteen. More violent material, stronger sex references and/or nudity.",
                                    "order": 4
                                  },
                                  {
                                    "certification": "16",
                                    "meaning": "Not recommended for minors under sixteen. Scenes featuring production, trafficking and/or use of illegal drugs, hyper-realistic sex, sexual violence, abortion, torture, mutilation, suicide, trivialization of violence and death penalty.",
                                    "order": 5
                                  },
                                  {
                                    "certification": "L",
                                    "meaning": "General Audiences. Do not expose children to potentially harmful content.",
                                    "order": 1
                                  },
                                  {
                                    "certification": "12",
                                    "meaning": "Not recommended for minors under twelve. Scenes can include physical aggression, use of legal drugs and sexual innuendo.",
                                    "order": 3
                                  },
                                  {
                                    "certification": "10",
                                    "meaning": "Not recommended for minors under ten. Violent content or inappropriate language to children, even if of a less intensity.",
                                    "order": 2
                                  },
                                  {
                                    "certification": "18",
                                    "meaning": "Not recommended for minors under eighteen. Scenes featuring explicit sex, incest, pedophilia, praising of the use of illegal drugs and violence of a strong imagery impact.",
                                    "order": 6
                                  }
                                ]
                              },
                              "CA": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "certification": {
                                      "type": "string",
                                      "example": "G"
                                    },
                                    "meaning": {
                                      "type": "string",
                                      "example": "All ages."
                                    },
                                    "order": {
                                      "type": "number",
                                      "example": 2
                                    }
                                  }
                                },
                                "example": [
                                  {
                                    "certification": "G",
                                    "meaning": "All ages.",
                                    "order": 2
                                  },
[...]
